<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load sass_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I'm Luay, a freelance web and mobile developer. Explore my portfolio, projects, and contact me for collaborations." />
    <meta property="og:title" content="Luay SD | Web & Mobile Developer" />
    <meta property="og:description" content="Freelance web & mobile developer. Check out my portfolio and projects." />
    <meta property="og:url" content="https://luaysd.oncloudlb.com/" />
    <meta property="og:type" content="website" />
    <link rel="canonical" href="https://luaysd.oncloudlb.com/" />

    {% comment %} <link rel="icon" type="image/svg+xml" href="{% static 'code-solid.svg' %}" /> {% endcomment %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="48x48" href="{% static 'favicon.png' %}">

    <title>Luay Sarieddeen | Web & Mobile Developer Portfolio</title>
    <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Luay Sarieddeen",
    "url": "https://luaysd.oncloudlb.com",
    "sameAs": [
      "https://www.linkedin.com/in/luay-sarieddeen-38336b206",
      "https://github.com/luaysd"
    ],
    "jobTitle": "Freelance Software Developer",
    "worksFor": {
      "@type": "Organization",
      "name": "Freelance"
    },
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Lebanon"
    }
  }
  </script>
    <link rel="stylesheet" href="{% sass_src  'styles/styles.scss' %}">
    <!-- Include Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="{% static 'js/index.js' %}" defer></script>

</head>
<body>
    {% comment %} {% block layout %}{% endblock layout %} {% endcomment %}
    {% include "layout.html" %}
    {% comment %} <script src="{% static 'js/index.js' %}" defer></script> {% endcomment %}
</body>
</html>